img {
    height: 50px;
    width: 50px;
}

/* định nghĩa các biến css */
:root {
    --main-color: #d3ad7f; /* #d3ad7f: màu be nhạt, thường sử dụng cho các chi tiết như nút bấm hoặc liên kết*/
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0; /* loại bỏ các khoảng cách mặc định */
    box-sizing: border-box;  /* đặt chế độ tính kích thước của phần tử (bao gồm cả padding và border của ptu tổng thể sẽ không thay đổi khi ta thay đổi giá trị padding và border */
    outline: none; border: none; /* loại bỏ các đường viền mặc định và đường bao xung quanh */
    text-decoration: none;
    transition: .2s linear; /* áp dụng hiệu ứng chuyển đổi cho các tất cả các thuộc tính có thể chuyển đổi của ptu trong thời gian 0.2s với tốc độ đều linear  */
}

html {
    font-size: 62.5%; /* đặt lại font chữ: 62.5% của mặc định (16px), tương đương 10px; mà 1rem = 10px nên ta có thể dễ dàng thiết kế responsive hơn */
    overflow-x: hidden;  /* ẩn các ptu tràn ra ngoài theo chiều ngang, không cho người dùng cuộn ngang trang web */
    scroll-padding-top: 9rem; /* đặt khoảng cách đệm đầu trang khi cuộn tự động đến ptu cụ thể trên trang */
    scroll-behavior: smooth; /* đặt hành vi cuốn trang là phù hợp.Khi người dùng cuộn trang hoặc sử dụng các liên kết điều hướng đến 1 phần của cuộn trang */
}

/* tạo kiểu cho các thành phần của thanh cuộn */
html::-webkit-scrollbar {
    width: .8rem;   /* đặt kích thước của thanh cuộn là .8rem - không quá lớn */
}

/* track: phần nền mà thanh cuộn đó di chuyển */
html::-webkit-scrollbar-track {
    background: transparent; /* đặt phần nền là trong suốt để ít thể hiển rõ ràng, giúp cho thanh cuộn trông gọn gàng và ít nổi bật hơn trên trang web */
}

/* thumb: có thể click hoặc kéo để cuộn trang trong trình duyệt sử dụng webkit như Chrome hoặc safari */
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem; /* tăng khoảng cách của các chữ cái khi ta hover vào */
}

.header {
    background: var(--bg);
    display: flex; /* bố cục flex linh hoạt (flexbox) */
    align-items: center; /* căn giữa các thành phần con theo chiều dọc */
    justify-content: space-between; /* các thành phần được đặt đều từ trái sang phải */
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed; /* đảm bảo là header luôn hiển thị ở phía trên cùng của trang */
    top: 0; left: 0; right: 0; /* đảm bảo rằng header kéo dài ngang trang và luôn ở phía trên cùng trang */
    z-index: 1000; /* độ ưu tiên hiển thị của header so với các ptu khác */
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer; /* di chuyển vào ptu sẽ con trỏ chuột sẽ chuyển sang hình ngón tay */
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#experiences-btn {
    display: none;
}

.header .search-form {
    position: absolute; /* thuyết lập vị trí tuyệt đối so với ptu cha (mà cha phải có position khác mặt định là static) */
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0); /* biến đổi hình dạng (xoay, nghiêng, thu phóng, kéo); scaleY(0): biến đổi theo chiều dọc, ở đây là 0, tức là không hiển thị nó trên giao diện */
    transform-origin: top; /* thiết lập điểm gốc của biển đổi là top. Nghĩa là nó sẽ thu phóng từ dưới lên (gốc là top)  */
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none; /* trong thẻ input, các chữ được nhập không có sự biến chuyển nào (chữ hoa, chữ thường, viết hoa chữ đầu dòng)*/
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh -9.5rem); /* 100vh là chiều cao của viewport (cửa sổ trình duyệt), calc cho ta thực hiện phép toán*/
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}


.header .cart-items-container .cart-item {
    position: relative; /* đặt nó lại vị trí bình thường nếu không có có postion nào áp dụng. Còn đưa nó thành ptu cha nếu có ptu con nào có position là absolute*/
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem; /* tạo 1 khoảng cách cố định giữa các ptu con*/
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.header .cart-items-container a {
    margin-bottom: 2rem;
}

/* media queries */
@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width: 768px) {

    #experiences-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    
    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left; /* điiểm bắt đầu của hình nền nằm bên trái phần tử */
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

}


/* css section home */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
        font-size: 6rem;
        text-transform: uppercase;
        color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8; /* chiều cao của một dòng văn bản */
    padding: 1rem 0;
    color: #eee;
}


.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap; /* có nghĩa là khi 1 hàng ko đủ không gian hữu dụng thì sẽ chuyển xuống hàng tiếp theo */
}

.about .row .image {
    flex: 1 1 35rem; /* (flex-grow, flex-shrink, flex-basic: giãn, co, ban đầu */
}

.about .row .image img {
    width: 80%;
    height: 40rem;
    padding-left: 15%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* css section experiences */
.experiences .box-container {
    display: grid; /* điều chỉnh cả hàng và cột */
    /* auto-fit: chiếm trọn container */
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); /* định nghĩa hàng và cột trong grid: repeat: tạo các cột và hàng dựa trên kích thước viewport*/
    gap: 1.5rem; /* khoảng cách giữa các cột và hàng là 1.5rem */
}

.experiences .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.experiences .box-container .box img {
    height: 10rem;
    width: 40%;
}

.experiences .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.experiences .box-container .box h5 {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.experiences .box-container .box p {
    color: #eee;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.experiences .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.experiences .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through; /* gạch ngang giữa chữ */
}

.experiences .box-container .box:hover {
    background: #fff;
}

.experiences .box-container .box:hover > * {
    color: var(--black);
}

/* css section skills */
.skills .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.skills .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.skills .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.skills .box-container .box p {
    color: #eee;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.skills .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem; /* chiều cao của dòng */
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.skills .box-container .box .icons a:hover {
    background: var(--main-color);
}

.skills .box-container .box .image {
    padding: 2.5rem 0;
}

.skills .box-container .box .image img {
    height: 25rem;
    width: 40%;
}

.skills .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.skills .box-container .box .content .stars {
    padding: 1.5rem;
}

.skills .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.skills .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

.skills .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

/* css section projects */
.projects .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.projects .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.projects .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.projects .box-container .box p {
    color: #eee;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.projects .box-container .box p a {
    color: red;
}

.projects .box-container .box p a:hover {
    color: var(--main-color);
}

/* .projects .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
} */

.projects .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;  /* img sẽ bao phủ toàn bộ khung chứa nó*/
}

.projects .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.projects .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* section contact  */
.contact .row {
    display: flex;
    /* align-items: center; */
    background: var(--black);
    flex-wrap: wrap; /* nhảy xuống dòng mới mà không cần thay đổi kích thước  */
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.contact .row form a {
    margin-top: 5%;
}

/* css section blogs */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden; /* ẩn nội dung vượt qua ngoài kích cỡ của nó */
    width: 100%;
}

.blogs .box-container .box .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.blogs .box-container .box:hover .image img {
   transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/* css section footer */
.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}